<html>
<!--SCHEDULING-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paradiso</title>
  <script src="https://kit.fontawesome.com/aee30e104f.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/aee30e104f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>

<body onload="trigger();">
  <div class="header">
    <marquee class="nav-brand" behavior="scroll" direction="left">Paradiso</marquee>
    <nav>
        <ul>
          <li><a href="/index"><i class="fa-solid fa-bars"></i>Dashboard</a></li>
          <li><span class="divider"></span></li>
          <li><a href="/2-tracker"><i class="fa-solid fa-face-smile"></i>Mood Tracker</a></li>
          <li><span class="divider"></span></li>
          <li><a href="/3-scheduling"class = "active"><i class="fa-solid fa-calendar"></i>Scheduling</a></li>
          <li><span class="divider"></span></li>
          <li><a href="/4-page"><i class="fa-solid fa-calendar"></i>Wellness Plan</a></li>
          <li><span class="divider"></span></li>
          <li><a href="/5-page"><i class="fa-solid fa-calendar"></i>Resources</a></li>
          <li><span class="divider"></span></li>
          <li><a href="/6-profile"><i class="fa-solid fa-user"></i>Profile</a></li>
          
          
          <a href="/req/login" class="logout-btn">Logout</a>
                
        </ul>
    </nav>

