<html>
<!--DASHBOARD-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paradiso</title>
  <script src="https://kit.fontawesome.com/aee30e104f.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap" rel="stylesheet">

</head>

<body onload="trigger();">
  <div class="header">
    <marquee class="nav-brand" behavior="scroll" direction="left">Paradiso</marquee>
    <nav>
        <ul>
          <li><a href="/index" class="active"><i class="fa-solid fa-bars"></i> Dashboard</a></li>         
          <li><span class="divider"></span></li>
          <li><a href="/2-tracker"><i class="fa-solid fa-face-smile"></i> Mood Tracker</a></li>
          <li><span class="divider"></span></li>
          <li><a href="/3-scheduling"><i class="fa-solid fa-calendar"></i> Scheduling</a></li>
          <li><span class="divider"></span></li>
          <li><a href="/4-page"><i class="fa-solid fa-calendar"></i> Wellness Plan</a></li>
          <li><span class="divider"></span></li>
          <li><a href="/5-page"><i class="fa-solid fa-calendar"></i> Resources</a></li>
          <li><span class="divider"></span></li>
          <li><a href="/6-profile"><i class="fa-solid fa-user"></i> Profile</a></li>
        
          <a href="/req/login" class="logout-btn">Logout</a>
                
        </ul>
    </nav>
  </div>
  <div>
    <section>
      <h1>Welcome to the Mental Health Wellness App</h1>
    
      <p>Our app is designed to support your journey to better mental health through cutting-edge technology and personalized tools.</p>
    
      <ul type="dash_list">
        <li><strong>🌟 AI-Powered Wellness Plans:</strong> Our intelligent system analyzes your mood and journal entries to create customized mental health tips and action plans tailored just for you.</li>
    
        <li><strong>📈 Mood Tracking:</strong> Track your emotional patterns over time and identify trends with easy-to-use graphs and daily inputs.</li>
    
        <li><strong>🧘 Personalized Goals:</strong> Set mental wellness goals and monitor your progress every day.</li>
    
        <li><strong>🗓️ Therapy Session Scheduling:</strong> Easily schedule virtual therapy appointments with reminders so you never miss a session.</li>
    
        <li><strong>🆘 Emergency Support:</strong> Quickly access your emergency contacts if you're in distress, right from the dashboard.</li>
      </ul>
    
      <p>Our mission is to combine proactive self-care with professional support to help you take control of your mental wellness journey.</p>
    </section>
  </div>

