body {background-color: hwb(332 84% 1%);
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
    padding:0;
}
p {color:rgb(28, 12, 146); font-size:150%}
li {color:rgb(134, 158, 244); font-size:150%}
ul.partsOfADuck {
    font-size:120%;
    color:blue;
}
a {font-size:120%}
img {width:300px}
nav {    
    width:100vw;
    height: 90;
    display: flex; /* 1 */
    flex-direction: column;
    justify-content: center; /* 2 */
    align-items: center;
    padding: 1rem; /* 3 */
    background: rgb(247, 51, 142); /* 4 */
}
nav marquee {
    margin: 0px 0px;
    color:rgb(165, 0, 69); font-size:300%;
    width:200;
    padding: 0rem;
    
    
}
nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
    margin: 0px 0px;
    padding: -9rem;
    
}
nav ul li a {
    margin: 0px 0px;
    color:rgb(255, 255, 255); font-size:100%;
    
}
nav li {
    padding-left: 1rem; /* 7! */
    color:rgb(39, 0, 155); font-size:150%
}

table, th, td {
    border: 1px solid;
}
ul {
    color:rgb(0, 0, 0); font-size:100%;
}